body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.level-counter{
  padding-top: 20px;

}
.counter{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}



.btn {
  margin: 5px;
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 10px solid black;
  /* border-radius: 20%; */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 0 300px 0 0;

}

.green {
  background-color: green;
  border-radius: 300px 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 300px 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 300px;
}

.indicator{
  border: solid 10px black;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 5;
  background-color: white;
  margin-left: 340px;
  margin-top: -470px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-width: 1365px){
  .btn {
    margin: 5px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid black;
   
  }
  #level-title {
    margin-bottom:  30%;
        }
  .indicator{
    visibility: hidden;
  }

}

@media only screen and (max-width: 762px){

  .btn {
    margin: 5px;
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 10px solid black;
    }

    #level-title {
     margin-bottom:  30%;
         }
    .indicator{
          visibility: hidden;
        }
      

}
